/target/
/project/target/
/Coursera/coursera-scala/target/
/Udemy/LearnByExample/target/
/Coursera/coursera-scala/.bsp/
/Coursera/coursera-scala/.idea/
/Coursera/coursera-scala/project/target/
/Udemy/LearnByExample/project/target/
/Coursera/coursera-scala/project/project/target/
/.idea/
/Udemy/ScalaFunctionalProgrammingEssentialsRocktheJVM/target/
/*/target/*
/*/project/target/*
/*/.idea/*
/*/.bsp/*